*{
    font-family: 'Ropa Sans', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: 'Baloo 2', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}

.navbar-light .navbar-brand{
    background-attachment: fixed;
    font-family: 'Roboto Slab', serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.8rem;
	color: rgb(255, 255, 255);
	display:block;
    padding-left: 70px;
}
.navbar-light .navbar-brand .subhead{
    color: #E7FF10;
}
.navbar-light .navbar-brand:hover{
    color: rgb(255, 255, 255);
}
.navbar-light .navbar-nav .nav-item .nav-link{
    color: rgb(255, 255, 255);
}
.navbar-light .navbar-nav .nav-item .nav-link:hover{
    color: #E7FF10;
}
.navbar-light .navbar-nav{
    padding-right: 70px;
}
.navbar-light .navbar-nav .nav-item .active{
    color: #E7FF10;
    border-bottom: 2px solid #E7FF10;
}
   /*     End Of NAVBAR     */
.bg{
    width: 100%;
    min-height: 65vh;
    background: url(../images/backgraound-about.png) no-repeat fixed;
    background-size: cover;
}
.bg h1{
    padding-top: 40vh;
    color: #ffffff;
    text-align: center;
    font-size: 3rem;
}
.bg h1 span{
    color: #E7FF10;
}
.main h2{
    color: #000000;
    font-size: 2.3rem;
    padding-top: 25px;
    padding-bottom: 5px;
    text-decoration: underline;
    text-align: center;
}
.main p{
    color: #4a4a4a;
    padding: 10px 70px;
    line-height: 30px;
    padding-bottom: 30px;
}
   /*     End Of Main     */
   #about{
    width: 100%;
    min-height: 90vh;
    background: url(../images/background-about.jpg) no-repeat fixed;
    background-size: cover;
}              
#about h2 {
    color: #ffffff;
    padding-top: 45vh;
    text-align: center;
    font-size: 3rem
}       
#about h2 span{
    color: #E7FF10;
}
                       /*     End Of about     */
 #footer{
     background-color: #ffffff;
 }
 #footer p{
    padding-left: 70px;
    padding-top: 25px;
     font-weight: 400;
     text-align: left;
     font-size: 1.3rem;
     color: #000000;
 }
 #footer p span{
     color: #4a4a4a;
 }
                        /*     End Of footer     */